.contact {
  padding: 100px 50px;
  text-align: center;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  position: relative;
  z-index: 1;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
