.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(26, 32, 51, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  width: calc(100% - 100px);
  top: 0;
  z-index: 1000;
}
