.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--primary-text);
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.cta-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: var(--primary-text);
  background: var(--accent-color-gradient);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  transform: scale(1.05);
}
